<form class="bg-slate-200 rounded-sm cursor-pointer" action="/search">    
    <input type="submit" name="q" value="<%= category.blog_category %>" class="p-[0.7em] cursor-pointer">
    <input type="hidden" name="category" value='1'>
</form>