<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <section class="w-full h-screen flex flex-col justify-center items-center">
        <h1 class="text-5xl">404 Not Found 📃</h1>
        <p class="2xl">Page you requested does not exists!</p>
    </section>
</body>
</html>