<navbar>
    <link rel="stylesheet" href="/styles/style.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="flex justify-between items-center py-2 px-6">
        <div>
            <h2 class="text-xl font-medium">Only Blogs Bro!</h2>
        </div>
        <div class=" flex justify-between items-center gap-x-6 font-medium">
            <a href="/"
                draggable="false" 
                class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                Home
            </a>
            <a href="/about"
                draggable="false" 
                class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                About
            </a>
            <a href="/contact"
                draggable="false" 
                class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                Contact
            </a>
            <% if(!auth) { %>
                <a href="/auth/login"
                    draggable="false" 
                    class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                    Login
                </a>
                <a href="/auth/signup"
                    draggable="false" 
                    class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                    Sign Up
                </a>
            <% } else { %>
                <a href="/user/bloglist"
                    draggable="false" 
                    class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                    Blogs
                </a>
                <a href="/user/profile"
                    draggable="false" 
                    class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                    Profile
                </a>
                <a href="/user/logout"
                    draggable="false" 
                    class="border-2 border-black px-[1em] py-[0.5em] shadow-[rgb(0,0,0)_8px_8px] hover:shadow-[rgb(0,0,0)_4px_4px] duration-100">
                    Logout
                </a>
            <% } %>
        </div>
    </div>
</navbar>