<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
    <section class="w-full flex justify-center items-start">
        <div class="w-[60%] p-8 flex flex-col justify-start items-center">
            <div class="w-full border-[2px] border-black shadow-[rgb(0,0,0)_6px_6px]">
                <form action="/search" method="get" class="flex">
                    <input required type="text" name="q" id="" placeholder="Search for blogs" 
                    class="px-5 py-4 w-full text-lg outline-none "> 
                    <button type="submit" class="fa fa-lg fa-search pr-5 text-gray-700"></button>
                </form>
            </div>
            <% if( blogs.length == 0) {%>
                <div class="w-full mt-8 p-6 flex justify-center items-center">
                    <span class="fa fa-2x fa-cog px-4"></span>
                    <p class="text-2xl">No results found for "<%=query%>"</p>
                </div>
            <% }else { %>

                <div class="w-full">

                    <% if( categoryFlag ){ %>
                        <p class="text-2xl my-5 ">Showing results for Category " <%=query%> "</p>
                    <% }else { %>
                        <p class="text-2xl my-5 ">Showing results for " <%=query%> "</p>
                    <% }%>

                </div>
                <div class="w-full flex flex-col justify-start items-center gap-y-3">
                    <% for(const blog of blogs) { %>
                        <%- include('searchResult',{ blog: blog }); -%>
                    <% } %>
                </div>

            <% } %>
        </div>
    </section>
</body>
</html>